
# r.secsrv.net/AutoHotkey/Scripts/Buggy-Mouse
buggy_mouse.ahk

# contains firstName lastName homePhoneNumber workPhoneNumber mobilePhoneNumber homePostCode workPostCode homeAddress workAddress homeEmailAddress workEmailAddress workIPAddress workSIPAddress serverLocalIPAddress serverRemoteIPAddress remoteMAC and crmSearch 
variables.ahk
